body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /
}

header {
    text-align: center;
    padding: 20px 0;
}

.logo {
    width: 20%; /* ajusta según el tamaño de tu logo */
    opacity: 0.8; /* ajusta según el nivel de transparencia deseado */
    border-radius: 10px;
}

.main {
    height: 100%;
    background-image: url("background.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.rectangle {
    width: calc(100% - 80px); /* Ancho de la página menos 60px (30px a cada lado) */
    height: 200px;
    background-color: rgba(255, 255, 255, 0.8); /* Blanco con 20% de opacidad */
    position: absolute;
    top: 40%; /* Posición vertical centrada */
    left: 50%; /* Posición horizontal centrada */
    transform: translate(-50%, -50%); /* Centrado vertical y horizontal */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Sombra para resaltar el rectángulo */
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle p {
    text-align: center;
    font-family: 'Titillium Web';
    font-size: 42px;
}

.button-container {
    margin-top: 20px;
    
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    /*background-color: rgba(0, 255, 0);*/
    background: linear-gradient(to right, #0A4322, #00ff00);
    color: white;
    padding: 10px 60px;
    border-radius: 40px;
    text-decoration: none;
    font-family: 'Titillium Web';
    font-size: 30px;
}

.green-rectangle {
    background-color: #0A4322; /* Verde oscuro */
    position: absolute;
    bottom: 0; /* Fija la posición en la parte inferior */
    left: 0; /* Fija el borde izquierdo */
    width: 100%; /* Ocupa todo el ancho de la página */
    height: 26vh; /* Altura del 20% del viewport height (tamaño de la pantalla) */

    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.promotion-group {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */

    font-family: 'Open Sans';
    font-size: 18px;
    text-align: center;
    color: white;

    padding: 0px 15px 0px 15px;
}

.promotion-group img {
    width: 60px; /* Tamaño de los iconos */
    height: 60px;
}

.footer {
    padding: 20px;
    text-align: center;
}